:root {
    --color-primary: #261C15;
    --color-secondary: #E4E6C3;
    --color-tertiary: #C5D86D;
    --color-button: #F05D23;
    --color-button-hover: #BF400D;
    --color-text: #261C15;
    --color-white: #F7F7F2;
    --corner-small: 0.75rem
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

.imagen {
    width: 100%;
    height:auto;
    max-width: 400px;
}

/* Sección de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: auto;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    gap: 8px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color-tertiary);
    border-radius: var(--corner-small) 0 0 var(--corner-small);
    font-size: 16px;
}

.button-container {
    width: clamp(240px, 30vw, 600px);
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botón */
button {
    padding: 15px 0;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid var(--color-tertiary);
    border-radius: var(--corner-small);
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);*/
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 var(--corner-small) var(--corner-small) 0;
    padding: 15px;

}

.button-add:hover {
    background-color: var(--color-secondary);
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 1rem 0;
}

.result-list {
    margin-bottom: 2rem;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: var(--color-button-hover);
}

/* Botón de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
    border-color: var(--color-button-hover);
    gap: clamp(0.5rem, 1rem, 1.5rem);
}

.button-draw img {
    margin-right: clamp(0.5rem, 1w, 1.5rem);
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

@media (max-width: 500px) {
    .header-banner {
    flex-direction: column;
    }
}